.mainContainer {
    display: flex;
    background: #F4F5F7;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 902px;

    background: #0D28A6;
}

.sidebarLogo {
    width: 34px;
    height: 34px;
    margin-top: 18px;
    margin-left: 18px;

    background: #CFD4ED;
}

.dashboardLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 64px;

    margin-top: 18px;
}

.dashboardLogo:hover {
    cursor: pointer;
}

.dashboardLogo img {
    margin-top: 10px;
}

.dashboardLogo p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    text-align: center;
    color: #FFFFFF;
    margin-top: 2px;
}

.carsLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 64px;

    background: rgba(255, 255, 255, 0.3);
}

.carsLogo:hover {
    cursor: pointer;
}

.carsLogo p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    text-align: center;
    color: #FFFFFF;

    margin-top: 2px;
}

.carsLogo img { 
    margin-top: 18px;
}

.leftSide {
    display: flex;
}

.leftBar {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
}

.leftBarUp {
    width: 220px;
    height: 70px;

    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
}

.leftBarLogo {
    width: 100px;
    height: 34px;
    background: #CFD4ED;

    margin: 18px 24px;
}

.leftBarDown {
    display: flex;
    flex-direction: column;

    width: 220px;
    height: 830px;
}

.leftBarDown h5 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #8A8A8A;

    margin-left: 24px;
}

.pStyling {
    display: flex;
    align-items: center;

    width: 220px;
    height: 42px;

    background: #CFD4ED;
}

.leftBarDown p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
 
    color: #151515;
    margin-left: 24px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.navbarRightSide {
    display: flex;
    align-items: center;
}

.navbarRightSide input {
    width: 174px;
    height: 36px;

    background: #FFFFFF;

    border: 1px solid #D0D0D0;
    border-radius: 2px;
    margin-top: 0px;
}

.navbarRightSide button {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 71px;
    height: 36px;

    background: #FFFFFF;

    border: 1px solid #0D28A6;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
    margin-right: 24px;
}

.menuLogo {
    margin-left: 27px;
}

.account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 143px;
    height: 38px;

    margin-right: 30px;
}

.account p {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #151515;
    margin: 0px;
}

.breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 191px;
    height: 18px;

    margin-top: 32px;
    margin-left: 25px;
}

.breadcrumb h6 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    color: #000000;
    margin: 0px;
}

.breadcrumb p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    color: #222222;
    margin: 0px;
}

.title {
   margin-left: 25px;
   margin-top: 24px;
}

.title h4 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.formContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 80%;
    height: 350px;

    background: #FFFFFF;
    border-radius: 2px;

    margin-left: 24px;
}

.formContainer p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    color: #3C3C3C;
}

.formPoint {
    display: flex;
    align-items: center;
}

.formPoint input, .formPoint1 input {
    width: 339px;
    height: 36px;
    
    background: #FFFFFF;

    border: 1px solid #D0D0D0;
    border-radius: 2px;

    margin-left: 16px;
}

.formPoint p, .formPoint1 p, .lastFormPoint p {
    width: 147px;
    height: 18px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    color: #3C3C3C;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 16px;
}

.formPoint1 {
    display: flex;
    align-items: center;

    margin-top: 16px;
}

.lastFormPoint {
    display: flex;
    align-items: center;

    margin-bottom: 16px;
}

.upload p {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 14px;

    color: #8A8A8A;
}

.cancelButton {
    width: 70px;
    height: 36px;
    left: 315px;
    top: 825px;

    background: #FFFFFF;

    border: 1px solid #0D28A6;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #0D28A6;

    margin-right: 16px;
}

.saveButton {
    width: 57px;
    height: 36px;
    left: 401px;
    top: 825px;

    background: #0D28A6;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;
}

.buttonContainer {
    display: flex;
    margin-top: 282px;
    margin-left: 25px;
}

.buttonContainer button:hover {
    cursor: pointer;
}