.mainContainer {
    display: flex;
    background: #F4F5F7;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 70px;
    height: 902px;

    background: #0D28A6;
}

.sidebarLogo {
    width: 34px;
    height: 34px;
    margin-top: 18px;
    margin-left: 18px;

    background: #CFD4ED;
}

.dashboardLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 64px;

    margin-top: 18px;
}

.dashboardLogo:hover {
    cursor: pointer;
}

.dashboardLogo img {
    margin-top: 10px;
}

.dashboardLogo p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    text-align: center;
    color: #FFFFFF;

    margin-top: 2px;
}

.carsLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 70px;
    height: 64px;

    background: rgba(255, 255, 255, 0.3);
}

.carsLogo p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    text-align: center;
    color: #FFFFFF;
    margin-top: 2px;
}

.carsLogo img {
    margin-top: 18px;
}

.leftSide {
    display: flex;
}

.leftBar {
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
}

.leftBarUp {
    width: 220px;
    height: 70px;

    background-color: white;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.05);
}

.leftBarLogo {
    width: 100px;
    height: 34px;
    background: #CFD4ED;

    margin: 18px 24px;
}

.leftBarDown {
    display: flex;
    flex-direction: column;

    width: 220px;
    height: 830px;
}

.leftBarDown h5 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #8A8A8A;

    margin-left: 24px;
}

.pStyling {
    display: flex;
    align-items: center;

    width: 220px;
    height: 42px;

    background: #CFD4ED;
}

.leftBarDown p {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
 
    color: #151515;
    margin-left: 24px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1440px;
    height: 70px;
    background: #FFFFFF;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.05);
}

.navbarRightSide {
    display: flex;
    align-items: center;
}

.navbarRightSide input {
    width: 174px;
    height: 36px;

    background: #FFFFFF;

    border: 1px solid #D0D0D0;
    border-radius: 2px;
    margin-top: 0px;
}

.navbarRightSide button {
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 71px;
    height: 36px;

    background: #FFFFFF;

    border: 1px solid #0D28A6;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
    margin-right: 24px;
}

.menuLogo {
    margin-left: 27px;
}

.account {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 143px;
    height: 38px;

    margin-right: 30px;
}

.account p {
    font-family: 'Helvetica';
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    color: #151515;
    margin: 0px;
}

.breadcrumb {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92px;
    height: 18px;

    margin-top: 32px;
    margin-left: 25px;
}

.breadcrumb h6 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;

    color: #000000;
    margin: 0px;
}

.breadcrumb p {
    font-family: 'Helvetica';
    font-weight: 300;
    font-size: 12px;
    line-height: 18px;

    color: #222222;
    margin: 0px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 25px;
    margin-top: 24px;
}

.title h4 {
    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    color: #000000;
}

.title button {
    width: 142px;
    height: 36px;

    background: #0D28A6;

    font-family: 'Helvetica';
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #FFFFFF;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.title button:hover {
    cursor: pointer;
}

.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 292px;
    height: 36px;

    margin-left: 25px;
}

.buttonAll {
    background: #CFD4ED;
    border: 1px solid #0D28A6;
    border-radius: 2px;
    width: 42px;
    height: 36px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #0D28A6;
}

.buttonSmall {
    width: 62px;
    height: 36px;

    background: #FFFFFF;
    border: 1px solid #AEB7E1;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #AEB7E1;
}

.buttonMedium {
    width: 77px;
    height: 36px;

    background: #FFFFFF;

    border: 1px solid #AEB7E1;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #AEB7E1;
}

.buttonLarge {
    width: 63px;
    height: 36px;

    background: #FFFFFF;

    border: 1px solid #AEB7E1;
    border-radius: 2px;

    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;

    color: #AEB7E1;
}

.cardContainer {
    margin-top: 24px;
    margin-left: 24px;
}

.cardContainerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}